.gradle/
local.properties

desktop.ini
build/
bin/
target/
obj/
out/
classes/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
arm64-v8a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
x86_64/
ipch/
/dist

*.class
hs_err_pid*

# IntelliJ
*.iml
/.idea/

